@use '../../styles/resources' as *;

@mixin svg-icons() {
  .s-button {
    &__append,
    &__prepend,
    &__content {
      > .svg-icon {
        @content;
      }
    }
  }
}

@mixin active-button() {
  @include hover {
    &:not(:disabled) {
      @content;
    }
  }
}

.s-button {
  height: 48px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 15px;
  text-decoration: none;
  transition-property: background-color, color, border;
  transition-duration: $animate--time;
  cursor: pointer;
  user-select: none;

  &__content {
    white-space: nowrap;

    .s-button:not(.s-button--circle):not(.s-button--icon) & {
      padding: 2px 4px 3px;
    }
  }

  &__prepend {
    margin-right: 7px;
  }

  &__append {
    margin-left: 7px;
  }

  &__loader {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &:disabled {
    .s-button__badge {
      display: none;
    }
  }

  &:not(&--icon):not(&--light):not(&--link):not(&--circle) {
    padding: 0 14px;
  }

  &--rounded {
    border-radius: 24px;
  }

  &--primary {
    border: 1px solid $color--violet;
    color: $color--white;
    background-color: $color--violet;

    &:disabled {
      color: $color--white-35;
      cursor: default;

      @include svg-icons {
        color: $color--white-35;
      }
    }

    &.s-button--loading {
      color: $color--white;
    }

    @include svg-icons {
      color: $color--white;
    }

    @include active-button {
      border: 1px solid $color--primary-accent;
      background-color: $color--primary-accent;
    }
  }

  &--secondary {
    border: 1px solid transparent;
    color: $color--font;
    background-color: $color--primary-8;

    &:disabled {
      color: $color--font-35;
      cursor: default;

      @include svg-icons {
        color: $color--violet-35;
      }
    }

    &.s-button--circle {
      color: $color--violet;
    }

    &.s-button--loading {
      color: $color--violet;
    }

    @include active-button {
      color: $color--violet;
      background-color: $color--primary-4;
    }
  }

  &--outline {
    border: 1px solid $color--primary-16;
    color: $color--font;
    background-color: $color--white;

    &:disabled {
      border: 1px solid $color--primary-16;
      color: $color--font-35;
      background-color: $color--white;
      cursor: default;

      @include svg-icons {
        color: $color--violet-35;
      }
    }

    &.s-button--circle {
      color: $color--violet;
    }

    &.s-button--loading {
      color: $color--violet;
    }

    @include active-button {
      border: 1px solid $color--primary-35;
    }
  }

  &--icon {
    color: $color--violet;

    &:not(.s-button--circle) {
      height: auto;
    }

    &:disabled {
      color: $color--violet-35;
      cursor: default;

      @include svg-icons {
        color: $color--violet-35;
      }
    }

    &.s-button--loading {
      color: $color--violet;
    }

    @include active-button {
      color: $color--primary;

      @include svg-icons {
        color: $color--primary;
      }
    }
  }

  &--light {
    color: $color--font;

    &:disabled {
      color: $color--font-35;
      cursor: default;

      @include svg-icons {
        color: $color--violet-35;
      }
    }

    &.s-button--loading {
      color: $color--violet;
    }

    @include active-button {
      color: $color--violet;
    }
  }

  &--link {
    border: none;
    color: $color--violet;
    background-color: transparent;

    &:disabled {
      color: $color--font-35;
      cursor: default;

      @include svg-icons {
        color: $color--font-35;
      }
    }

    @include active-button {
      color: $color--primary;

      @include svg-icons {
        color: $color--primary;
      }
    }
  }

  &--loading {
    .s-button {
      &__prepend,
      &__append,
      &__content {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &__append,
  &__prepend,
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__append,
  &__prepend {
    color: $color--violet;
  }

  @at-root .link--circle,
    &--circle {
    border-radius: 50%;
  }

  @at-root .link--circle .link--,
    &--circle &__ {
    &prepend {
      margin-left: 0;
    }

    &append {
      margin-right: 0;
    }
  }

  @at-root .link.s-button__badge,
    .s-button__badge {
    top: 0;
    right: 0;
    position: absolute;
    transform: translateY(-45%);
  }

  @include responsive(xs) {
    @include font-size(12px);

    height: 42px;

    .s-button__loader {
      width: 18px;
      height: 18px;
    }

    &.s-button--circle {
      width: 42px;
    }

    &--sm {
      @include font-size(10px);

      height: 38px;

      .s-button__loader {
        width: 18px;
        height: 18px;
      }

      &.s-button--circle {
        width: 38px;
      }

      @include svg-icons {
        width: 18px;
        height: 18px;
      }
    }

    @include svg-icons {
      width: 18px;
      height: 18px;
    }
  }

  @include responsive(sm) {
    @include font-size(13px);

    height: 44px;

    .s-button__loader {
      width: 20px;
      height: 20px;
    }

    &.s-button--circle {
      width: 44px;
    }

    &--sm {
      @include font-size(11px);

      height: 40px;

      .s-button__loader {
        width: 20px;
        height: 20px;
      }

      &.s-button--circle {
        width: 40px;
      }

      @include svg-icons {
        width: 20px;
        height: 20px;
      }
    }

    @include svg-icons {
      width: 20px;
      height: 20px;
    }
  }

  @include responsive(md) {
    @include font-size(14px);

    height: 46px;

    .s-button__loader {
      width: 22px;
      height: 22px;
    }

    &.s-button--circle {
      width: 46px;
    }

    &--sm {
      @include font-size(12px);

      height: 42px;

      .s-button__loader {
        width: 22px;
        height: 22px;
      }

      &.s-button--circle {
        width: 42px;
      }

      @include svg-icons {
        width: 22px;
        height: 22px;
      }
    }

    @include svg-icons {
      width: 22px;
      height: 22px;
    }
  }

  @include responsive(lg) {
    @include font-size(15px);

    .s-button__loader {
      width: 24px;
      height: 24px;
    }

    &.s-button--circle {
      width: 48px;
    }

    &--sm {
      @include font-size(13px);

      height: 44px;
      padding: 0 12px;

      .s-button__loader {
        width: 24px;
        height: 24px;
      }

      &.s-button--circle {
        width: 44px;
      }
    }
  }
}
